<nav id="log-out">
	<% if(currentUser) { %>
		<form action="/sessions?_method=DELETE" method="POST">
			<input style="border:none;" type="submit" value="Log Out" />
		</form>
	<% } else { %>
		<a href="/users/new">Register</a>
		<a href="/sessions/new">Login</a>
	<% } %>
</nav>