@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro:wght@100;300&display=swap');



body {
    background-color: rgb(255, 191, 175);
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    text-align: center;
}

i {
    color:white;
}

.linkCloud {
    height: 20px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

input[type='button'] {
    background-color: rgb(255, 151, 151);
    color: white;
    border: none;
    font-family: 'Abril Fatface', cursive;
}

input[type='button']:hover {
    color: white;
}



input {
    color: black
}

.scrolling-products {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
  
h3 {
    margin-top: 50px;
}

.dashboardItem {
    display: inline-block;
    margin: 0 50px 50px 50px;
}

.dashboard-images {
    height: 300px;
}

a{
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 151, 151);
 }



.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;    
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
    max-width: 100vw;
    overflow-x: hidden;
}

.galleryItems {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.wishlist-images {
    height: 250px;
}

nav {
    text-align: left;
    list-style: none;
}

.topLinks {
    display:inline;
    margin-left: 10px;
}


.dashboard-titles {
    width: 200px;
    word-wrap: break-word;
}

#log-out {
    text-align: right;

}
