<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
    <script src="https://kit.fontawesome.com/d4c0810681.js" crossorigin="anonymous"></script>
    <title>Wish Index</title>
</head>
<body>
    <nav>
        <ul>
            <li class="topLinks">
                <i class="fa-solid fa-cloud fa-1x"></i>
                <a href="/">Dashboard</a>
            </li>
            <li class="topLinks">
                <a href="/product/new">Add a new item!</a>
            </li>
        </ul>
    </nav>
    <h1>All items</h1>

    <div class="gallery">
        <% for(let i = 0; i < products.length; i++){ %>
            <div class='galleryItems'>
                <h6><a href="/product/<%= products[i]._id %>"><%= products[i].title %></a></h6>
                <a href="/product/<%= products[i]._id %> "><img class='wishlist-images' src="<%= products[i].imageLink %>" alt="product image"></a>
            </div>
            <% } %>
    </div>

</body>
</html>