<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Create a new item!</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/product">Item Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/product" method="POST">
            <input type="text" name="link"> <br>
            <input type="text" name="title"> <br>
            <input type="text" name="store"> <br>
            <input type="text" name="imageLink"> <br>
            <input type="text" name="tags"> <br>
            <input type="text" name="wishList"> <br>
        </form>

    </main>





</body>
</html>