<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>Wish</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="topLinks">
                    <a href="/">Home</a>
                </li>
                <li id="topLinks">
                    <a href="/product">Item Index</a>
                </li>
            </ul>
        </nav>
        <h1>Create a new item!</h1>
    </header>
    <main>
        <form action="/product" method="POST">
            Link to item: <input type="url" name="link"> <br>
            Item title: <input type="text" name="title"> <br>
            Store: <input type="text" name="store"> <br>
            Image Link: <input type="url" name="imageLink"> <br>
            Tags: <input type="text" name="tags"> <br>
            Wishlist: <input list="wishLists" name="name">
            <br>
            <input type="submit" value="Create"> <br>
        </form>
    </main>
</body>


<datalist id="wishLists">
    <option value="Edge">
    <option value="Firefox">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
</datalist>

</html>